<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>

<!-- fxLayout.xs="column" es para decirle que cuando llegue a xs cambie de row a column -->
<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">
    
     <!-- con "fxFlex" decimos que cada tarjeta tendrá un 20% del ancho de la fila -->
    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30" *ngFor="let heroe of heroes">
        
         <!-- Heroe Componente -->
        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
    </div>
</div>
