<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Ir a Listado Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a Agregar Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar">
            Ir a Editar Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a Buscar Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/1">
            Ir a Heroe
        </a>
    </li>
</ul>